@model IEnumerable<TiendaVirtual.Models.Cliente>
@{
    ViewData["Title"] = "Clientes";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Listado de clientes</h1>
        <!--   <p>Table to display analytical data effectively</p>-->
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Catalogos</li>
        <li class="breadcrumb-item active"><a href="#">Clientes</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <p>
                    <a asp-action="Crud">Create New</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombres)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Apellidos)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dni)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Correo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Direccion)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dni)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Correo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Direccion)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Crud", new {  id=item.Id }) |
                                        @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

