@model IEnumerable<TiendaVirtual.Models.Producto>
@{
    ViewData["Title"] = "Productos";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Listado de productos</h1>
        <!--   <p>Table to display analytical data effectively</p>-->
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Catalogos</li>
        <li class="breadcrumb-item active"><a href="#">Productos</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <p>
                    <a asp-action="Crud">Create New</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                   Marca
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Precio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Url)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Destacado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Activo)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.objCategoria.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.objMarca.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Precio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Url)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Destacado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Activo)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Crud", new {  id=item.Id }) |
                                        @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


